[Unit]
Description=Samay Docker compose
After=docker.service

[Service]
WorkingDirectory=/home/kumarmo2/dev/kumarmo2/samay/backend/samay-worker-go
ExecStart=go run *.go
TimeoutStartSec=0
Restart=always
# User=root

[Install]
WantedBy=multi-user.target
