[Unit]
Description=Samay Docker compose
Requires=docker.service
Wants=network-online.target
After=docker.service network-online.target

[Service]
WorkingDirectory=/home/kumarmo2/dev/kumarmo2/samay
ExecStartPre=docker compose build
ExecStart=docker compose up
ExecStop=docker compose down
TimeoutStartSec=0
Restart=always
RestartSec=5
# User=root

[Install]
WantedBy=multi-user.target
