[Unit]
Description=Samay worker
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/kumarmo2/dev/kumarmo2/samay/backend/samay-worker-go
ExecStartPre=/usr/local/go/bin/go build -buildvcs=false -o samay-worker .
ExecStart=/home/kumarmo2/dev/kumarmo2/samay/backend/samay-worker-go/samay-worker
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
